<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.code_generator.mapper.AllocationRuleDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.code_generator.entity.AllocationRuleDetail">
        <id column="id" property="id" />
        <result column="rule_no" property="ruleNo" />
        <result column="mer_no" property="merNo" />
        <result column="rate" property="rate" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="type" property="type" />
        <result column="amount" property="amount" />
        <result column="is_comm" property="isComm" />
        <result column="sort_num" property="sortNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rule_no, mer_no, rate, create_time, modify_time, status, deleted, type, amount, is_comm, sort_num
    </sql>

</mapper>
