<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.mapper.BatteryVersionUpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.dao.entity.BatteryVersionUp">
                <id column="id" property="id" />
                <result column="ue_sn" property="ueSn" />
                <result column="up_type" property="upType" />
                <result column="hard_type" property="hardType" />
                <result column="version" property="version" />
                <result column="old_version" property="oldVersion" />
                <result column="url" property="url" />
                <result column="notice_time" property="noticeTime" />
                <result column="status" property="status" />
                <result column="creator" property="creator" />
                <result column="create_time" property="createTime" />
                <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ue_sn, up_type, hard_type, version, old_version, url, notice_time, status, creator, create_time, update_time
    </sql>

</mapper>